.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(165, 158, 144, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
    margin-left: 16px;
    font-size: 24px;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
    }